body{
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 1.4;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative; 
}

 .black {
     background-color:black;
     z-index:-99;
 }
#bgimage {
    width:1920px;
    margin:0 auto;
    height:774px;
    background-size:1920px;
    background-repeat:no-repeat;
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        /* rgba(20, 20, 20, 0) 50%, */
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('https://caching2.lottecinema.co.kr/lotte_image/2021/RainStory/0407/RainStory_1920774.jpg');
    background-position: center;
    position:relative;
}
/* .background {
    width:1920px;
    height:800px;
    margin:0 auto;
    background-repeat: no-repeat;
    position:absolute;
}   */
.background {
    width:100%;
    height:774px;
    margin:0 auto;
    position:absolute;
}
.aside {
    z-index:1;
}
.material-icons {
    color: #F6F5F0;
    font-size: 11px;
    cursor: pointer;
    /* display:flex; */
    margin:0px 10px 5px 1px;  
    /* position:relative;  */
}
/* .header {
    width:1920px;
    position:absolute;
} */

/* 헤더광고 */
.top {
    margin: auto;
    width:100%;
    height:500px;
    background-color: #abc9e5;
}
.ad{
        margin:0 auto;
        position:relative;
        background-color: #abc9e5;
        width: 100%;
        justify-content: center;
        display: flex;
        margin: auto;
}

#close {
    /* align-items:center; */
    position: relative;
    cursor:pointer;
    margin-top:25px;
    font-size: 30px;
}

.topmenu {
    position:absolute;
    width: 100%;
    height: 194px;
}
/* 헤더1:좋아요~로고~로그인 */
.wrapper {
    width: 1100px;
    height:60px;
    margin-top: 25px;
    justify-items: center;
    position:relative;
    display: flex;
    margin: 0 auto;
}
.wrappermini {
    display:flex;
}

.wrappercontents {
    margin-top: 30px;
    display:flex;
}

#itemcontents{
    display: flex;

}
.logo {
    width: 250px;
    height: 40px;
    align-items: center;
    margin: auto;
}

.contents{
    display: flex;
}
.contentslist {
    display: flex;
} 

#hre {
    width: 1100px;
    position: relative;
    /* left: 50%;
    margin-left: -550px; */
}

/* 메뉴:예매~바로예매 */
.submenu {
    width: 1100px;
    position: absolute;
    align-items: center;
    flex-direction;
    left: 50%;
    margin-left: -550px;
    color:white;

}

.main {
    width: 1100px;
    display: flex;
    margin:0 auto;
    justify-content: center;    
}

.header_primary {
    font-size:20px;
    position: absolute;
}

.material {
    position:absolute;
    right:0px;
    margin-top:5px;
}


.item_title1 {
    margin: 5px 0px 5px 30px;
    font-size:14px;
    border-right: 1px solid white;
    padding-right:30px;
    border-width: 2px;
}

.item_title2 {
    margin: 5px 30px 5px 30px;
    font-size:14px;
}

.aside {
    width: 8.5%;
    height: 774px;
    position: relative;
}

#right {
    float:right;
}
#left {
    float:left;
}

#back {
    font-size:60px;
    float: right;
    margin:350px auto;
}

#forward {
    font-size:60px;
    float:left;
    margin:350px auto;
}


/* 실시간 잘나가는 영화 */
    /* 시간 */
.bestmovie {
    width:100%;
    height:385px;
    display:flex;
    justify-content: center;
    position:relative;
    padding-top:20px;
    background:black;
}
.popular {
    background:black;
    height:385px;
    width:980px;
    color:white;
    margin:0 ;
}
.time {
    float:right;
    margin-bottom:5px;
    position:relative;
}
#timeicon {
    font-size: 14px;
    margin-right: 0px;
}
    /* 영화포스터 */
.posters {
        display:flex;
        width:980px;
        height:262.85px;
        /* position: relative; */
        margin:0 auto;
}
.poster {
    width:184px;
    height:262.85px;
    margin-left:6px;
    margin-right:6px;
    margin-top:30px;
}

.posterz {
    width:184px;
    border-radius: 5px;
    justify-content: center;
    margin-right:5px;
}
.grademov {
    width:184px;
    margin-left:6px;
    margin-right:6px;
    /* position: absolute; */
    margin-top:-35px;
    font-size:27px;
    font-style:italic;
}



/* 영화정보 */
.movinfo {
    margin:0 auto;

}
.movtitle{
    width:184px;
    font-size:13px;
    display: flex;
    justify-content: center;
    margin-bottom:6px;
    
}
.movline2 {
    display: flex;
    justify-content: center;
    /* 구분선 추가 */
    font-size: 11px;
}
.movpercent {
    margin-right:3px;

} 

.movdday {
    width:30px;;
    justify-content: center;
    display:flex;
    color:#ed4c68;
    border-right: 1px solid white;
    margin-right:3px;
    border-left: 1px solid white;
    margin-left:3px;
}
.btn_heart_rnd {
    width: 16px;
    height: 16px;
    background-image: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/heart_rnd_16_off.png);
    background-color: transparent;
    background-size: 16px;
    border:none;
    cursor: pointer;
    margin-left:3px;
}
.movpopular {
    width:341px;
    color: white;
    /* top: 50%; */
    height: 385px;
}


#movpre {
    font-size:50px;
    float:right;
    margin-top:50%;
}
#movnext {
    font-size:50px;
    float:left;
    margin-top:50%;
}

.affer {
    height:30px;
    background-color: black;}


/* 스페셜바 */
.specialbar {
    width: 980px;
    height: 101px;
    margin: 62px auto;;
}
.special {
    font-size: 20px;
    font-weight:bold
}

#specialmore {
    float:right;
    color:black;
}

#sp {
    width: 980px;
    border-top:1px dashed;
    color:grey
}

.specialwrap {
    display:flex;
}

.spw {
    margin:auto;
}

/* 이벤트바 */
.eventbar {
    width:980px;
    height:540px;
    margin:auto;
}

.event {
    font-size: 20px;
    font-weight:bold;
    margin-bottom:10px;
}   

#eventmore {
    color:black;
    float:right;
}

/* 이벤트그리드 */
.line1 {
    display:flex;
    height:260px;
}
.line2{
    display:flex;
}

#item1 {
    width:181.99px;
    height:250px;
    border-radius: 10px;
    margin-right:10px;
}
#item2 {
    width:181.99px;
    height:250px;
    margin-right:10px;
    border-radius: 10px;
}
#item3 {
    width:285px;
    height:250px;
    margin-right:10px;
    border-radius: 10px;
}
#item4 {
    width:295.99px;
    height:510.99px;
    border-radius: 10px;
}
#item5 {
width:477.99px;
height:250px;
border-radius: 10px;
margin-right:10px;
}
#item6 {
    width:181.99px;
    height:250px;
    border-radius: 10px;
}

/* 시사회/무대인사 */

.pressbar {
    width:980px;
    height:214.82px;
    margin:auto;
}

.press {
    margin-top: 50px;
    font-size: 20px;
    font-weight:bold
    
}

#pressmore {
    color:black;
    float:right;
}

.pressline1 {
    margin-top:10px;
    display:flex;
}

.pressitem {
    width:319px;
    height:186.92px;
    margin:auto;
    border-radius: 10px;
}


/* 할인안내~브라보클럽 */
.discountbar {
    width:980px;
    height:133px;
    margin: 0 auto;

}
.discountgrid {
    display:flex;
    margin-top:60px;
    /* margin-bottom:50px; */
}
.discountitem {
    border-radius: 10px;
    margin:auto;

}

/* 공지사항바 */
.noticebar {
    width: 980px;
    margin: auto;
}
.noticeline1 {
    display:flex;
    width:980px;
    margin-top:60px;
}
.notice {
    font-size: 13px;
    margin: 5px 0px 5px 10px;
    border-right: 1px solid#707070;
    padding-right:20px;
    border-width: 2px;
}

.noticesentence {
    width:840px;
    height:17.78px;
    font-size: 13px;

}
.noticelist {
    margin-left:20px;
    margin: 5px 0px 5px 10px;
}
#notice1 {
    color:black;

}
#noticemore {
    width:38px;
    margin: 5px 0px 5px 10px;
    font-size:10px;
    color:black;
    float:right;
}

#dp {
    width: 980px;
    color:#707070
    
}
.none {
    height:50px;
}
.bottomad {
    width:980px;
    height:180px;
    margin: auto;
}

.yellowbar {
    width:100%;
    height:240px;
}
.yellowbg {
    width:100%;
    position:absolute;
}
.clear {
    height:40px;
}
.yellowbackground {
    width:100%;
    height:200px;
    background:#FFDB00;
    /* position:absolute; */
}
.yellowad {
    width:980px;
    margin: 0 auto;
}
.yellowaditem {
    width:980px;
    position:absolute;
    /* margin:0 auto; */
}

/* 정보란 */
.info {
    width:980px;
    margin: auto;
}
.greylogo {
    margin-top: 60px;
    margin-left:10px;
}
.miniinfo {
    margin-top:10px;
    display:flex;
    font-size: 12px;
    height:18px;
}
.miniinfoitem1 {
    margin: 0 0px 0 10px;
    border-right: 1px solid black;
    padding-right:10px;
    border-width: 1px;
    color: black;
}
.borderlast1{
    border:none;
    margin: 0 0px 0 10px;
    color: black;
}
.miniinfoitem {
    margin: 0 0px 0 10px;
    border-right: 1px solid #4d4d4d;
    padding-right:10px;
    border-width: 1px;
    color: #4d4d4d;
}
.miniinfo2 {
    margin-top:30px;
    display:flex;
    font-size: 12px;
    height:18px;
    font:#4d4d4d
}
.miniinfoline {
    display:flex;
}

.borderlast {
    border:none;
    margin: 0 0px 0 10px;
    color: #4d4d4d;
}
.miniinfo3 {
    margin-top:5px;
    display:flex;
    font-size: 12px;
    height:18px;
    font:#4d4d4d
}

/* 맨밑헤더 */
.bottombar {
    width: 100%;
    height:142px;
    margin:50px auto;
}
.bottombg {
    width:100%;
    /* height:142px;
    margin:auto; */
    
    /* background-color: #f5f5f5; */
    position:absolute;
    z-index: -1;
}
.bottombackground {
    width:100%;
    height:142px;
    background:#F5f5f5;
}
.bottom {
    width:100%;
    display:flex;
    margin:50px auto;
    justify-content: center;
    /* background-color: #f5f5f5; */
}
.bottomitem {
    margin:24px 3px 24px 3px;
}