body{
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative; 
    z-index:0;
}
.header {
    position:absolute;
}


.material-icons {
    font-size: 10px;
    cursor: pointer;
    margin:0px 10px 5px 1px;  
    color:black;
    /* float:right; */
    z-index: 219;
}
.black {
     background-color:black;
     z-index: -15;
    position: relative;
     
}

 /* 헤더광고 */
.top {
    margin: auto;
    width:100%;
    height:500px;
    background-color: #abc9e5;
    z-index: 3;
}

.ad{
    margin:0 auto;
    position:relative;
    background-color: #abc9e5;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: auto;
    z-index: 3;
        
}
#close {
    position: relative;
    cursor:pointer;
    margin-top:30.5px;
}

/* 상단메뉴첫째줄 */
.topmenu {
    width:980px;
    margin:auto;
    height: 194px;
    z-index: 16;
    position:absolute;
    left: 50%;
    margin-left:-490px;
}

.menuline1 {
    width: 980x;
    height:60px;
    margin-top: 25px;
    justify-items: center;
    position:relative;
    display: flex;
    margin: 0 auto;
}


.line1_side {
    display:flex;
    margin-bottom:0px;
    margin-top: 30px;
    display:flex;
    color:#fff;
    opacity: 0.5;
}
.btn_side {
    font-size: 12px;
    cursor: pointer;
    margin:7px 7px 1px 7px;
    
}
.logo {
    width: 250px;
    height: 40px;
    align-items: center;
    margin: auto;
    margin-bottom: 0px;
    cursor: pointer;
    z-index: 20;
}

#hre {
    width: 980px;
    position: relative;
    border:solid 0.5px white;
    opacity: 0.5;
}

/* 메뉴2번째줄 :예매~바로예매 */
.menuline2 {
    width: 100%;
    height:40px;
    background-color: none;
    align-items: center;
    margin:auto;
    color:white;
}
.menuline2width {
    width:980px;
    height:40px;
    position: absolute;
    align-items: center;
    margin:auto;
    color:white;
}
/* 스크롤 내렸을때
  */
#menuline2.active0 {
    color:black;
    background-color: white; 
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 99;
    
}
.main_sub.active0{
    background-color: white;
}
#menuline2.active0 .menuline2width {
    left:50%;
    margin-left:-490px;
}
#menuline2.active0 .btn_side {
    color:black;
}
#menuline2.active0 img {
   filter:invert(100%);
}
#menuline2.active0 ul {
    color:black;
}


.line2_main {
    width:980px;
    font-size:20px;
    position: absolute;

}

.main {
    width: 980px;
    display: flex;
    justify-content: center;    
    margin-top:4px;
}
.main_title {
    font-size:14px;
    border-right: 1px solid #707070;
    padding-right:25px;
    padding-left:25px;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
}
.main_titleend {
    padding-right:25px;
    padding-left:25px;
    padding-bottom:5px;
    padding-top:5px;
    font-size:14px;
    cursor:pointer;
}

/* 메인 JS 효과 서브메뉴 */
.main_sub {
    position: absolute;
    width: 1920px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 5px;
    background: black;
    left:50%;
    margin-left:-960px;
    opacity: 0.5;
    font-size:12px;
    
}
.main_submenu {
    padding-right:7px;
    padding-left:7px;
    cursor:pointer;
}



/* 메뉴2 호버효과를 위한 css */
.main_title:hover {
    border-bottom: 1px solid red;
    border-width: 3px;
    border-right: 1px solid #707070;
    /* padding-bottom:8px; */
}
.main_titleend:hover {
    border-bottom: 1px solid red;
    border-width: 3px;
    
    padding-bottom:8px;
}
.main_sub {
    visibility:hidden;
}

/* .main_sub2 {
    visibility:hidden;
}
.main_sub3 {
    visibility:hidden;
}
.main_sub4 {
    visibility:hidden;
}
.main_sub5 {
    visibility:hidden;
} */


.line2_side {
    position:absolute;
    right:0px;
    margin-top:11.5px;
    color:white;
}

#back {
    font-size:60px;
    float: right;
    margin:350px auto;
}

#forward {
    font-size:60px;
    float:left;
    margin:350px auto;
}



/* 슬라이더 구성요소 */
#bgimage {
    width:1920px;
    margin:0 auto;
    height:774px;
    position:relative;
    overflow:hidden;
}

.inbackground{
    width:100%;
    height:774px;
    z-index: 2;
} 

.slide{
    background-size:100%;
    height:774px;
    background-position:center;
    background-repeat:no-repeat;
}
/* .slide1{
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('https://caching2.lottecinema.co.kr/lotte_image/2021/RainStory/0407/RainStory_1920774.jpg');
}
.slide2{
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('https://caching2.lottecinema.co.kr/lotte_image/2021/Conjuring/0602/Conjuring_1920774.jpg');
}
.slide3{
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('https://caching2.lottecinema.co.kr/lotte_image/2021/Luca/0602/Luca_1920774.jpg');
}
.slide4{
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('https://caching2.lottecinema.co.kr/lotte_image/2021/Ella/Ella_1920774.jpg');
}
.slide5{
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('https://caching2.lottecinema.co.kr/lotte_image/2021/InTheHeights/0528/InTheHeights_1920774.jpg');
}
.slide6{
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url('https://caching2.lottecinema.co.kr/lotte_image/2021/Truck/0527/Truck_1920774.jpg');
}
.slide__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */




/* 실시간 잘나가는 영화 */
    /* 화살표 */
    .movpopular {
        margin-top:-20px ;
    }
    .popularmovside {
        cursor: pointer;
    }
    #movpre {
        margin-right:5px;
    }
    #movnext {
        margin-left:5px;
    }

.bestmovie {
    width:100%;
    height:385px;
    display:flex;
    justify-content: center;
    position:relative;
    padding-top:20px;
    background:black;
}

.popular {
    background:black;
    height:385px;
    width:980px;
    color:#ffffff;
    margin:0 ;
}
.time {
    float:right;
    position:relative;
    font-size: 11px;
}
    /* 영화포스터 */
.posters {
        display:flex;
        width:980px;
        height:262.85px;
        margin:0 auto;
}
.movietext {
    margin-top:6px;
}
.poster {
    width:184px;
    height:262.85px;
    margin-left:6px;
    margin-right:6px;
    margin-top:30px;
}

.posterz {
    width:184px;
    border-radius: 5px;
    justify-content: center;
    margin-right:5px;
}
.grademov {
    width:184px;
    margin-left:6px;
    margin-right:6px;
    margin-top:-35px;
    font-size:27px;
    font-style:italic;
}



/* 영화정보 */
.movinfo {
    margin:0 auto;
    margin-top:20px;

}
.movtitle{
    width:184px;
    font-size:13px;
    display: flex;
    justify-content: center;
    margin-bottom:6px;
    
}
.movline2 {
    display: flex;
    justify-content: center;
    font-size: 11px;
}
.movpercent {
    margin-right:3px;
} 

.movdday {
    width:30px;;
    justify-content: center;
    display:flex;
    color:#ed4c68;
    border-right: 1px solid white;
    margin-right:3px;
    border-left: 1px solid white;
    margin-left:3px;
}
.btn_heart_rnd {
    width: 16px;
    height: 16px;
    background-image: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/heart_rnd_16_off.png);
    background-color: transparent;
    background-size: 16px;
    border:none;
    cursor: pointer;
    margin-left:3px;
}
.movpopular {
    width:341px;
    color: white;
    height: 385px;
}


#movpre {
    font-size:50px;
    float:right;
    margin-top:50%;
}
#movnext {
    font-size:50px;
    float:left;
    margin-top:50%;
}

.blackbg {
    height:30px;
    background-color: black;}

/* 바 공통 */
.barname {
    font-size: 17px;
}
/* 스페셜바 */
.specialbar {
    width: 980px;
    height: 101px;
    margin: 62px auto;;
}

#specialmore {
    float:right;
}
#eventmore{
    float:right;
}
#pressmore {
    float:right;
}

#sp {
    width: 980px;
    border-top:1px dashed;
    color:grey
}

.specialwrap {
    display:flex;
}

.spw {
    margin:auto;
}

/* 이벤트바 */
.eventbar {
    width:980px;
    height:540px;
    margin:auto;
    margin-bottom: 50px;
}


/* 이벤트그리드 */
.line1 {
    display:flex;
    height:260px;
    margin-top: 10px;
}
.line2{
    display:flex;
}

#item1 {
    width:181.99px;
    height:250px;
    border-radius: 10px;
    margin-right:10px;
}
#item2 {
    width:181.99px;
    height:250px;
    margin-right:10px;
    border-radius: 10px;
}
#item3 {
    width:285px;
    height:250px;
    margin-right:10px;
    border-radius: 10px;
}
#item4 {
    width:295.99px;
    height:510.99px;
    border-radius: 10px;
}
#item5 {
width:477.99px;
height:250px;
border-radius: 10px;
margin-right:10px;
}
#item6 {
    width:181.99px;
    height:250px;
    border-radius: 10px;
}

/* 시사회/무대인사 */

.pressbar {
    width:980px;
    height:214.82px;
    margin:auto;
}

.pressline1 {
    margin-top:10px;
    display:flex;
}

.pressitem {
    width:319px;
    height:186.92px;
    margin:auto;
    border-radius: 10px;
}


/* 할인안내~브라보클럽 */
.discountbar {
    width:980px;
    height:133px;
    margin: 0 auto;

}
.discountgrid {
    display:flex;
    margin-top:60px;
}
.discountitem {
    border-radius: 10px;
    margin:auto;

}

/* 공지사항바 */
.noticebar {
    width: 980px;
    margin: auto;
    font-size: 13px;
}
.noticeline1 {
    display:flex;
    width:980px;
    margin-top:60px;
}
.notice {
    font-size: 13px;
    margin: 5px 0px 5px 10px;
    border-right: 1px solid#707070;
    padding-right: 1px;
    padding-top: 2px;
    border-width: 1px;
    width:64px;
    z-index: 2;
}
    /* Swiper 슬라이더 */

    .swiper3 {
        width: 840px;
        height: 30px;
        overflow: hidden;
        left:-300px;
        z-index: -2;
        float:left;
        margin-left:20px;
        align-items: center;

    }
    
    .swiper3-slide {
        background: #fff;
        align-items: center;
        float:left;
        
    }
    
    .swiper3-wrapper {
        float:left;
        margin-left:0px;
    }

#dp {
    width: 980px;
    color:#707070
    
}
.none {
    height:50px;
}
.bottomad {
    width:980px;
    height:180px;
    margin: auto;
}

.yellowbar {
    width:100%;
    height:240px;
}
.yellowbg {
    width:100%;
    position:absolute;
}
.clear {
    height:40px;
}
.yellowbackground {
    width:100%;
    height:200px;
    background:#FFDB00;
}
.yellowad {
    width:980px;
    margin: 0 auto;
}
.yellowaditem {
    width:980px;
    position:absolute;
}

/* 정보란 */
.info {
    width:980px;
    margin: auto;
}
.greylogo {
    margin-top: 60px;
    margin-left:10px;
}
.miniinfo {
    margin-top:10px;
    display:flex;
    font-size: 12px;
    height:18px;
}
.miniinfoitem1 {
    margin: 0 0px 0 10px;
    border-right: 1px solid black;
    padding-right:10px;
    border-width: 1px;
    color: black;
}
.borderlast1{
    border:none;
    margin: 0 0px 0 10px;
    color: black;
}
.miniinfoitem {
    margin: 0 0px 0 10px;
    border-right: 1px solid #4d4d4d;
    padding-right:10px;
    border-width: 1px;
    color: #4d4d4d;
}
.miniinfo2 {
    margin-top:30px;
    display:flex;
    font-size: 12px;
    height:18px;
    font:#4d4d4d
}
.miniinfoline {
    display:flex;
}

.borderlast {
    border:none;
    margin: 0 0px 0 10px;
    color: #4d4d4d;
}
.miniinfo3 {
    margin-top:5px;
    display:flex;
    font-size: 12px;
    height:18px;
    font:#4d4d4d
}

/* 맨밑헤더 */
.bottombar {
    width: 100%;
    height:142px;
    margin:50px auto;
}
.bottombg {
    width:100%;
    position:absolute;
    z-index: -1;
}
.bottombackground {
    width:100%;
    height:142px;
    background:#F5f5f5;
}
.bottom {
    width:100%;
    display:flex;
    margin:50px auto;
    justify-content: center;
}
.bottomitem {
    margin:24px 3px 24px 3px;
}


/* 메인스와이퍼 */
.swiper1  {
    width: 1920px;
    height: 774px;
    z-index: -0.5;
    position:absolute;
  }
.mainswiper-rapper {
    height:774px;
    position: absolute;
}
  .swiper-slide {
    width: 100%;
    height: 774px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide1 {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://caching2.lottecinema.co.kr/lotte_image/2021/RainStory/0407/RainStory_1920774.jpg");
  }

  .slide2 {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://caching2.lottecinema.co.kr/lotte_image/2021/Conjuring/0602/Conjuring_1920774.jpg");
  }
  .slide3 {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://caching2.lottecinema.co.kr/lotte_image/2021/Luca/0602/Luca_1920774.jpg");
  }

  .slide4 {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://caching2.lottecinema.co.kr/lotte_image/2021/Ella/Ella_1920774.jpg");
  }

  .slide5 {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://caching2.lottecinema.co.kr/lotte_image/2021/InTheHeights/0528/InTheHeights_1920774.jpg");
  }

  .slide6 {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://caching2.lottecinema.co.kr/lotte_image/2021/Truck/0527/Truck_1920774.jpg");
  }



  /* 슬라이더 화살표 */
/* .aside {
    z-index:20;
    width: 8.5%;
    height: 774px;
    position: absolute;
    top:0;
    cursor:pointer;
} */
.swiper-button-next {
    background: url("https://www.lottecinema.co.kr/NLCHS/Content/images/icon/arr_rg_31_wht.png") no-repeat;
    background-size: 100%;
    background-position: center;
    margin-right:40px;
    z-index: 21;
    cursor: pointer;
  }

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
    background: url("https://www.lottecinema.co.kr/NLCHS/Content/images/icon/arr_lf_31_wht.png") no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left:40px;
    z-index: 21;
    cursor: pointer;

}
.swiper-pagination {
    height:100%;
    top:0px;
    margin-top:680px;
    width:956px; 
    margin-left:850px;   
}
.swiper-pagination-bullets{
    width:956px;
    margin-right:5px;
    
}

.swiper-pagination-bullet {
    margin-right:5px;
    cursor:pointer;
    z-index: 20;
    /* display: inline-block; */
    border-radius: 50%;
    background: #000;
    opacity: 0.2;    
    float:left;
    position:relative;
}

.swiper-button-next {
    cursor: pointer;
    z-index: 20;
}
.swiper-dotbar {
    width: 980px;
    position:absolute;
    z-index: -1;
    height:100px;
    z-index:15;
    /* justify:center; */
    left:50%;
    margin-left:-490px;
    top:0;
    display:flex;
    
    
}

 .swiper-pagination-bullet-active {
    margin-right:5px;
    cursor:pointer;
    z-index: 20;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 1.0;    
}
  


#startbtn {
    font-size: 12px;
    color:white;
    opacity: 1;
    margin: -2px 5px;
    z-index: 20;
    cursor:pointer;
    position: relative;
    margin-top:680px;
    margin-left:940px;
}

#startbtn.active {
    opacity:0.5;
}
#stopbtn {
    font-size: 12px;
    color:white;
    cursor:pointer;
    opacity:0.5;
    z-index: 20;
    margin:-2px 2px;
    margin-top:680px;
    position: relative;
    margin-left:1px;

}

#stopbtn.active {
    opacity:1;
}



#playbtn {
    position:absolute;
    margin-top:360px;
    margin-left:935px;
    z-index: 20;
    cursor: pointer;
    /* float:right; */
  

}






/* 인기영화 슬라이드 */

.swiper2{
    width:980px;
    margin-top:-80px;
}
.swiper-wrapper2 {
    width:980px;
    color:white;

}
.prevbtn2 {
    margin-left:420px;
}
.nextbtn2 {
    margin-right:420px;
}
