body{
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative; 
}
header {
    position:relative;
    height:854px;
    background-color: black;
}


.material-icons {
    font-size: 10px;
    cursor: pointer;
    margin:0px 10px 5px 1px;  
    color:black;
    float:right;
}
 /* .black {
     background-color:black;
     z-index:-3;
} */

 /* 헤더광고 */
.top {
    margin: auto;
    width:100%;
    height:500px;
    /* background-color: #abc9e5; */
    /* position:absolute;
    margin-top:0px; */
}

.ad{
        margin:0 auto;
        position:relative;
        background-color: #abc9e5;
        width: 100%;
        justify-content: center;
        display: flex;
        margin: auto;
        
}
#close {
    position: relative;
    cursor:pointer;
    margin-top:30.5px;
}

/* 배경 */
#bgimage {
    width:1920px;
    margin:0 auto;
    height:774px;
    background-size:100%;
    background-repeat:no-repeat;
    background-position: center;
    /* position:relative; */
    position: absolute;
    z-index: 1;
}
.backgroundslider {
    width:100%;
    height:774px;
    margin:0 auto;
    position:absolute;
    justify-content: center;
    overflow: hidden;
    z-index: 5;
}
.backgroundslider #slider{
    background-size: cover;
    background-position: center;
    display: flex;
    width:1920px;
    height:774px;
    background-size:100%;
    background-repeat:no-repeat;
}

.backgroundslider #slider .slide1 {
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,

        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),url('https://caching2.lottecinema.co.kr/lotte_image/2021/RainStory/0415/RainStory_1920774.jpg');
}

.backgroundslider #slider .slide2 {
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,

        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),url('https://caching2.lottecinema.co.kr/lotte_image/2021/MemoriesOfTomorrow/0420/MemoriesOfTomorrow_1920774.jpg');
}

.backgroundslider #slider .slide3 {
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,

        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),url('https://caching2.lottecinema.co.kr/lotte_image/2021/YoungAdultMatters/0414/YoungAdultMatters_1920774.jpg');
}

.backgroundslider #slider .slide4 {
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,

        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),url('https://caching2.lottecinema.co.kr/lotte_image/2021/TheCourier/0415/TheCourier_1920774.jpg');
}

.backgroundslider #slider .slide5 {
    background:
    linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.75) 5%,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.25) 15%,
        rgba(0, 0, 0, 0) 20%,

        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.25) 85%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.75) 95%,
        rgba(0, 0, 0, 1) 100%
      ),url('https://caching2.lottecinema.co.kr/lotte_image/2021/Yuda/0420/Yuda_1920774.jpg');
}

.slide__content {
    width: 100%;
    height: 774px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
margin:auto;
    /* align-items: center; */
}

/* dots */
.dotsbar {
    width:980px;
    position:relative;
    z-index: 10;
    left:50%;
    margin-left:-490px;
}
.dots {
    position:absolute;
    padding: 10px;
    display: flex;
    float:right;
    margin-bottom:0px;
    margin-left:876px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    margin: 0 3px;
    cursor: pointer;
}

.dots .dot1 {
    background: #1107ff;
}

.playbtn {
    position:relative;
    width:83%;
    height:774px;
    margin:auto;
    z-index: 1;
}
#playbtn {
    position:relative;
    left:50%;
    margin-left:-25px;
    top:50%;
    margin-top:-27px;
    cursor: pointer;   
}

.background {
    width:100%;
    height:774px;
    margin:0 auto;
    position:absolute;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
    /* 1에서 잠시 -2 */
    /* z-index: -2; */
}

.aside {
    z-index:3;
    width: 8.5%;
    height: 774px;
    position: relative;
}
#right {
    float:right;
}
#left {
    float:left;
}
.asidebg {
    cursor: pointer;
}
/* 상단메뉴첫째줄 */
.topmenu {
    position:relative;
    width:980px;
    margin:auto;
    height: 194px;
    z-index: 3;
}

.menuline1 {
    width: 980x;
    height:60px;
    margin-top: 25px;
    justify-items: center;
    position:relative;
    display: flex;
    margin: 0 auto;
}


.line1_side {
    display:flex;
    margin-bottom:0px;
    margin-top: 30px;
    display:flex;
    color:#fff;
    opacity: 0.5;
}
.btn_side {
    font-size: 12px;
    cursor: pointer;
    margin:7px 7px 1px 7px;
    
}
.logo {
    width: 250px;
    height: 40px;
    align-items: center;
    margin: auto;
    margin-bottom: 0px;
    cursor: pointer;
}

#hre {
    width: 980px;
    position: relative;
    border:solid 0.5px white;
    opacity: 0.5;
}

/* 메뉴2번째줄 :예매~바로예매 */
.menuline2 {
    width: 100%;
    height:40px;
    background-color: none;
    align-items: center;
    margin:auto;
    color:white;
}
.menuline2width {
    width:980px;
    height:40px;
    position: absolute;
    align-items: center;
    margin:auto;
    color:white;
}
/* 스크롤 내렸을때
  */
#menuline2.active {
    color:black;
    background-color: white; 
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 2;
    
}
#menuline2.active .menuline2width {
    left:50%;
    margin-left:-490px;
}
#menuline2.active .btn_side {
    color:black;
}
#menuline2.active img {
   filter:invert(100%);
}
#menuline2.active ul {
    color:black;
}


.line2_main {
    width:980px;
    font-size:20px;
    position: absolute;
}

.main {
    width: 980px;
    display: flex;
    justify-content: center;    
    margin-top:8px;
}
.main_title {
    margin: 5px 0px 5px 30px;
    font-size:14px;
    border-right: 1px solid #707070;
    padding-right:30px;
    border-width: 2px;
}
.main_titleend {
    margin: 5px 30px 5px 30px;
    font-size:14px;
}


.line2_side {
    position:absolute;
    right:0px;
    margin-top:11.5px;
    color:white;
}

#back {
    font-size:60px;
    float: right;
    margin:350px auto;
}

#forward {
    font-size:60px;
    float:left;
    margin:350px auto;
}


/* 실시간 잘나가는 영화 */
    /* 화살표 */
    .movpopular {
        margin-top:-20px ;
    }
    .popularmovside {
        cursor: pointer;
    }
    #movpre {
        margin-right:5px;
    }
    #movnext {
        margin-left:5px;
    }

.bestmovie {
    width:100%;
    height:385px;
    display:flex;
    justify-content: center;
    position:relative;
    padding-top:20px;
    background:black;
}

.popular {
    background:black;
    height:385px;
    width:980px;
    color:#ffffff;
    margin:0 ;
}
.time {
    float:right;
    position:relative;
    font-size: 11px;
}
    /* 영화포스터 */
.posters {
        display:flex;
        width:980px;
        height:262.85px;
        margin:0 auto;
}
.movietext {
    margin-top:6px;
}
.poster {
    width:184px;
    height:262.85px;
    margin-left:6px;
    margin-right:6px;
    margin-top:30px;
}

.posterz {
    width:184px;
    border-radius: 5px;
    justify-content: center;
    margin-right:5px;
}
.grademov {
    width:184px;
    margin-left:6px;
    margin-right:6px;
    margin-top:-35px;
    font-size:27px;
    font-style:italic;
}



/* 영화정보 */
.movinfo {
    margin:0 auto;
    margin-top:20px;

}
.movtitle{
    width:184px;
    font-size:13px;
    display: flex;
    justify-content: center;
    margin-bottom:6px;
    
}
.movline2 {
    display: flex;
    justify-content: center;
    font-size: 11px;
}
.movpercent {
    margin-right:3px;
} 

.movdday {
    width:30px;;
    justify-content: center;
    display:flex;
    color:#ed4c68;
    border-right: 1px solid white;
    margin-right:3px;
    border-left: 1px solid white;
    margin-left:3px;
}
.btn_heart_rnd {
    width: 16px;
    height: 16px;
    background-image: url(https://www.lottecinema.co.kr/NLCHS/Content/images/icon/heart_rnd_16_off.png);
    background-color: transparent;
    background-size: 16px;
    border:none;
    cursor: pointer;
    margin-left:3px;
}
.movpopular {
    width:341px;
    color: white;
    height: 385px;
}


#movpre {
    font-size:50px;
    float:right;
    margin-top:50%;
}
#movnext {
    font-size:50px;
    float:left;
    margin-top:50%;
}

.blackbg {
    height:30px;
    background-color: black;}

/* 바 공통 */
.barname {
    font-size: 17px;
}
/* 스페셜바 */
.specialbar {
    width: 980px;
    height: 101px;
    margin: 62px auto;;
}




#sp {
    width: 980px;
    border-top:1px dashed;
    color:grey
}

.specialwrap {
    display:flex;
}

.spw {
    margin:auto;
}

/* 이벤트바 */
.eventbar {
    width:980px;
    height:540px;
    margin:auto;
    margin-bottom: 50px;
}


/* 이벤트그리드 */
.line1 {
    display:flex;
    height:260px;
    margin-top: 10px;
}
.line2{
    display:flex;
}

#item1 {
    width:181.99px;
    height:250px;
    border-radius: 10px;
    margin-right:10px;
}
#item2 {
    width:181.99px;
    height:250px;
    margin-right:10px;
    border-radius: 10px;
}
#item3 {
    width:285px;
    height:250px;
    margin-right:10px;
    border-radius: 10px;
}
#item4 {
    width:295.99px;
    height:510.99px;
    border-radius: 10px;
}
#item5 {
width:477.99px;
height:250px;
border-radius: 10px;
margin-right:10px;
}
#item6 {
    width:181.99px;
    height:250px;
    border-radius: 10px;
}

/* 시사회/무대인사 */

.pressbar {
    width:980px;
    height:214.82px;
    margin:auto;
}

.pressline1 {
    margin-top:10px;
    display:flex;
}

.pressitem {
    width:319px;
    height:186.92px;
    margin:auto;
    border-radius: 10px;
}


/* 할인안내~브라보클럽 */
.discountbar {
    width:980px;
    height:133px;
    margin: 0 auto;

}
.discountgrid {
    display:flex;
    margin-top:60px;
}
.discountitem {
    border-radius: 10px;
    margin:auto;

}

/* 공지사항바 */
.noticebar {
    width: 980px;
    margin: auto;
}
.noticeline1 {
    display:flex;
    width:980px;
    margin-top:60px;
}
.notice {
    font-size: 13px;
    margin: 5px 0px 5px 10px;
    border-right: 1px solid#707070;
    padding-right:20px;
    border-width: 2px;
}

.noticesentence {
    width:840px;
    height:17.78px;
    font-size: 13px;

}
.noticelist {
    margin-left:20px;
    margin: 5px 0px 5px 10px;
}
#notice1 {
    color:black;

}


#dp {
    width: 980px;
    color:#707070
    
}
.none {
    height:50px;
}
.bottomad {
    width:980px;
    height:180px;
    margin: auto;
}

.yellowbar {
    width:100%;
    height:240px;
}
.yellowbg {
    width:100%;
    position:absolute;
}
.clear {
    height:40px;
}
.yellowbackground {
    width:100%;
    height:200px;
    background:#FFDB00;
}
.yellowad {
    width:980px;
    margin: 0 auto;
}
.yellowaditem {
    width:980px;
    position:absolute;
}

/* 정보란 */
.info {
    width:980px;
    margin: auto;
}
.greylogo {
    margin-top: 60px;
    margin-left:10px;
}
.miniinfo {
    margin-top:10px;
    display:flex;
    font-size: 12px;
    height:18px;
}
.miniinfoitem1 {
    margin: 0 0px 0 10px;
    border-right: 1px solid black;
    padding-right:10px;
    border-width: 1px;
    color: black;
}
.borderlast1{
    border:none;
    margin: 0 0px 0 10px;
    color: black;
}
.miniinfoitem {
    margin: 0 0px 0 10px;
    border-right: 1px solid #4d4d4d;
    padding-right:10px;
    border-width: 1px;
    color: #4d4d4d;
}
.miniinfo2 {
    margin-top:30px;
    display:flex;
    font-size: 12px;
    height:18px;
    font:#4d4d4d
}
.miniinfoline {
    display:flex;
}

.borderlast {
    border:none;
    margin: 0 0px 0 10px;
    color: #4d4d4d;
}
.miniinfo3 {
    margin-top:5px;
    display:flex;
    font-size: 12px;
    height:18px;
    font:#4d4d4d
}

/* 맨밑헤더 */
.bottombar {
    width: 100%;
    height:142px;
    margin:50px auto;
}
.bottombg {
    width:100%;
    position:absolute;
    z-index: -1;
}
.bottombackground {
    width:100%;
    height:142px;
    background:#F5f5f5;
}
.bottom {
    width:100%;
    display:flex;
    margin:50px auto;
    justify-content: center;
}
.bottomitem {
    margin:24px 3px 24px 3px;
}